@import 'variables';
@import 'mixins';

#art-home {
  @include flex(row, space-between, center);

  .art-home-sect:nth-child(1) {
    height: 100%;
    flex: 2 1 50%;

    @include background-image('home_00.png', center, no-repeat, 80%);
  }

  .art-home-sect:nth-child(2) {
    height: 100%;
    padding-right: 4vw;
    flex: 1 2 45%;

    @include flex(column, center, flex-start);

    h1 {
      margin-bottom: 20px;
      font-family: 'Amiri-Bold', serif;
      font-size: 3.3rem;
    }

    p {
      margin-bottom: 20px;
      font-size: 1.3rem;
      line-height: 1.9rem;
    }

    button {
      padding: 12px 21px 8px 21px;
      font-size: 1.6rem;
      font-weight: 500;
      border: none;
      font-family: 'Baloo-Tamma-Regular', cursive;
      color: $primary-color-light;
      background-color: $primary-color-dark;

      &:hover {
        background-color: $secondary-color;
        color: $primary-color-dark;
        cursor: pointer;
      }
    }
  }
}
