@import 'variables';
@import 'mixins';

#art-menu {
  .art-menu-sect:nth-child(1) {
    margin-top: 4%;
    margin-bottom: 3%;

    @include flex(column, space-around, center);

    h1 {
      font-size: 2.5rem;
      font-family: 'Amiri', serif;
    }

    ul {
      width: 30%;
      margin-top: 5%;

      @include flex(row, space-between, center);

      li {
        font-size: 1.2rem;

        &:hover {
          color: $terciary-color;
          cursor: pointer;
        }
      }
    }
  }

  .art-menu-sect:nth-child(2) {
    height: 70%;
    width: 60%;
    margin: auto;
    display: grid;
    grid-gap: 2vh;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);

    .menu-salad-info {
      padding: 10%;

      @include flex(column, space-around, flex-start);

      h3 {
        font-size: 1.1rem;
        font-family: 'Amiri', serif;
      }
    }

    .menu-salad-bg {
      padding: 10%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}
